<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- Redirect /mast to full path -->
                <rule name="MAST Redirect" stopProcessing="true">
                    <match url="^mast(/.*)?$" />
                    <action type="Redirect" url="/marine-accelerator-for-sustainable-technologies{R:1}" redirectType="Permanent" />
                </rule>
                
                <!-- Main rewrite rule -->
                <rule name="Rewrite Rule" stopProcessing="true">
                    <match url="^(.*)$" ignoreCase="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:1}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
        <fastCgi>
            <application fullPath="C:\PHP\php-cgi.exe">
                <environmentVariables>
                    <environmentVariable name="APP_ENV" value="production" />
                </environmentVariables>
            </application>
        </fastCgi>
    </system.webServer>
</configuration>
