<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>

                <!-- MAST Static Files -->
                <!-- THESES RULES BEONG IN THE SITE WEB.CONFIG, NOT THE VIRTUAL HOST -->
                <!--
                <rule name="MAST Static Files" stopProcessing="true">
                <match url="^marine-accelerator-for-sustainable-technologies/(css|js|images)/(.*)$" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" />
                </conditions>
                <action type="None" />
                </rule>

                <!-- MAST Short URL Redirect -->
                <rule name="MAST Redirect" stopProcessing="true">
                <match url="^mast/?$" />
                <action type="Redirect" url="/marine-accelerator-for-sustainable-technologies/en" redirectType="Permanent" />
                </rule>

                <!-- MAST Virtual Host -->
                <rule name="MAST Virtual Host" stopProcessing="true">
                <match url="^marine-accelerator-for-sustainable-technologies(/.*)?" ignoreCase="false" />
                <conditions>
                    <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                </conditions>
                <action type="Rewrite" url="marine-accelerator-for-sustainable-technologies/index.php" appendQueryString="true" />
                </rule>
                -->

            </rules>
        </rewrite>
    </system.webServer>
</configuration>


